name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  rails-ci:
    uses: SarradaHub/platform/.github/workflows/rails-service-ci.yaml@main
    with:
      working-directory: .
      ruby-version: '3.3.6'
      run-brakeman: true
      run-importmap-audit: false
      run-rubycritic: false
      postgres-db: saturday_league_football_test
      rspec-command: bundle exec rspec
      extra-apt-packages: "postgresql-client"